<div ng-hide="forgotView" class="">
    <div class="login_form">
        <h3>Forgot password</h3>
        <!-- ngRepeat: alert in alerts -->
        <form action="/forgot" method="post" class="ng-pristine ng-invalid ng-invalid-required">
            <input  class="form-control ng-pristine ng-invalid ng-invalid-required" name="email"  type="text" placeholder="Email Address"  autofocus="">
            <button class="btn btn-primary btn-block" type="submit" style="background-color: #df691a">Reset password</button>
        </form>
    </div>
</div>
