
<!--<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1 style="color:#fff;margin: 60px 0;"><span class="fa fa-sign-in"></span> Login</h1>


        <form action="/login" method="post">
            <div class="form-group">
                <label style="color:#fff">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
                <label style="color:#fff">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p style="color:#fff">Need an account? <a href="#/signup">Signup</a></p>


    </div>-->



    <div class="login_cont ng-scope">
        <form class="form ng-pristine ng-valid" action="/login" method="post">
            <h2 class="form-heading">Please Log In</h2>
            <div class="form-fields">
                <input name="email" placeholder="Email" type="text" class="form-control">
                <input name="password" placeholder="Password" type="password" class="form-control">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading">
                <span ng-show="!loading" class="">Log In</span>

            </button>
            <!--<div ng-show="error" class="alert alert-danger ng-binding ng-hide"></div>-->
        </form>

        <p style="text-align: center;"><a href="#/reset-password">Forgot your password?</a></p>
        <p style="text-align: center;"><a href="#/signup">Signup</a></p>
    </div>