


<div class="login_cont ng-scope" ng-controller="validateController" ng>
    <form action="/signup" method="post"    id="formsign">
        <h2 class="form-heading">Please Sign Up</h2>
        <div class="form-fields">
            <input type="text" class="form-control" name="firstname" id="firstname" ng-keyup="validName($event,'firstname')"  placeholder="Firstname" ng-past="alert('as')">
            <div class="alert alert-danger alertMessage" role="alert" id="alertFirstName">{{name.firstname}}</div>

            <input type="text" class="form-control" name="lastname" id="lastname" ng-keyup="validName($event,'lastname')"  placeholder="Lastname">
            <div class="alert alert-danger alertMessage" role="alert" id="alertLastName">{{name.lastname}}</div>

            <input type="text" class="form-control" name="email" id="email" ng-keyup="validMail($event,'email')"  placeholder="Email">
            <div class="alert alert-danger alertMessage" role="alert" id="alertEmail">{{name.email}}</div>

            <input type="password" class="form-control" name="password" id="password" ng-keyup="validPassword($event,'password')"  placeholder="Password">
            <div class="alert alert-danger alertMessage" role="alert" id="alertPassword">{{name.password}}</div>

            <input type="password" class="form-control" name="comfpassword" id="comfpassword" ng-keyup="comfPassword($event,'comfpassword')"  placeholder="Password confirm">
            <div class="alert alert-danger alertMessage" role="alert" id="alertComfPassword">{{name.comfpassword}}</div>

            <input type="text" class="form-control" name="code" id="code" placeholder="Registration code" ng-keyup="validCode($event,'code')">
            <div class="alert alert-danger alertMessage" role="alert" id="alertCode">{{name.code}}</div>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"  id="submitSignUp" ng-click="nullSubmit()">
            <span ng-show="!loading" class="">Sign Up</span>
        </button>

    </form>
    <p style="text-align: center;">Already signed up? <a href="#/login">Login</a></p>
</div>

