body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

.dropdown-submenu {
    /* position: relative;*/
}

.dropdown-submenu>.dropdown-menu {
    position: fixed;
    top: 49px;
    left: 460px;
    height: 284px ;
    width: 280px;
    -webkit-border-radius: 0 6px 6px 0px;
    -moz-border-radius: 0 6px 0px;
    border-radius: 0 6px 6px 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu li a:hover{
    text-decoration: none;
}

.TabContainer {
    background-color: white;
    position: relative;
    top: 100px;
    left: 30%;
    width: 700px;

}
.TabContent{

width: 1000px;

}
.TabContent a:hover{
    text-decoration: none;
}
.menuTab {
    cursor: pointer;
    width: 220px;
    height: 85px;
    background-color: ghostwhite;
    margin-bottom: 5px;
}
.linkTab {
    width: 15px;
    height: 85px;
    background-color: greenyellow;
}
.Tab {
    position:relative;
    top:-48px;
    left:50px;
}
.Tab>a {
    width: 205px;
    height: 85px;
    display: block;

}
.Tab>a:hover{
   text-decoration: none;
}

.post{
    /*border:solid 2px yellow;*/
    overflow: hidden;
}
.tagdiv{
    margin-top:10px;
    float:left;
}
.tagConteiner{
    /*border:solid 2px yellow;*/
    overflow: hidden;
    padding-bottom: 10px;

}
.tag{
    background-color: crimson;
    text-decoration: none;
    color:white;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 3px;
}
.postConteiner{
    background-color: white;
    /*overflow: hidden;*/
    position: relative;
    top: 0px;
    /*left: 5%;*/
    /*max-width: 700px;*/
    /*min-width: 730px;*/
    padding: 20px 20px;
   /* border:solid 2px green;*/
    margin-top: 2px;
}
.grid>div{width: 46%;clear: both;}
.grid>div.postConteiner{margin: 1%}
.close{
    float: right;
    background-color: indianred;
    padding: 3px 3px;
}

.comment{
margin-top: 15px;
    overflow: hidden;
   /* border:solid 2px red;*/
}
.comment>div{
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.contentInput{
   margin-top: 40px;
   /* border:solid 2px red;*/
}



.topicContent{
    position:relative;
    top:-20px;
    width: 100%;
    height: 800px;
}
.topicContentRight{
    float: right;
    background-color: white;
    width: 50%;
    height: 800px;
}
.topicContentLeft{
    float: left;
color:white;
    text-align: center;
padding-top:200px;
    width: 50%;
    height: 800px;
}
.topicContentTop{

    width: 100%;
    height: 300px;
    color:white;
    text-align: center;
    padding:  100px;
    min-width: 800px;
}


.subSubject{
    text-decoration:none;
    margin-left:100px;
    display: block;
    width: 600px;
    /*border:solid 2px red ;*/
    height: 130px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid grey;
}
.subSubject:hover{
    background-color: ghostwhite;
}

.blockStepsConteiner{
    padding: 10px 10px;
}
.blockSteps{
    overflow: hidden;
    text-decoration: none;
    display: block;
    width: 350px;
    height: 55px;
  /*  border:solid 2px red ;*/
    padding-top: 10px;
    float: right;
}
.blockSteps:hover{
    background-color: ghostwhite;
    cursor: pointer;
}
.stepsContainer{
    overflow: hidden;
margin-left: 100px;
    width: 700px;
    /*height: 200px;*/
    /*border:solid 2px green ;*/
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.footer{
    width: 100%;


}

.ace_editor { height: 200px; }

.animate-show {
    position: absolute;
    top:100px;
    left:100px;
    line-height:20px;
    opacity:1;
    padding:10px;
   /* border:1px solid black;*/
   /* background:white;*/
    z-index: 999;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
    position: absolute;
    top:0px;
    left:0px;
}


