body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropdown-submenu {
    /* position: relative;*/
}

.dropdown-submenu>.dropdown-menu {
    position: fixed;
    top: 49px;
    left: 460px;
    height: 284px ;
    width: 280px;
    -webkit-border-radius: 0 6px 6px 0px;
    -moz-border-radius: 0 6px 0px;
    border-radius: 0 6px 6px 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.TabContainer{
    position:relative;
    top:100px;
    left:30%;
    width: 700px;
}
.TabContent{
width: 500px;
}

.menuTab {
    cursor: pointer;
    width: 220px;
    height: 85px;
    background-color: ghostwhite;
    margin-bottom: 5px;
}
.linkTab {
    width: 15px;
    height: 85px;
    background-color: greenyellow;
}
.Tab {
    position:relative;
    top:-48px;
    left:50px;
}