body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

.dropdown-submenu {
    /* position: relative;*/
}

.dropdown-submenu>.dropdown-menu {
    position: fixed;
    top: 49px;
    left: 460px;
    height: 284px ;
    width: 280px;
    -webkit-border-radius: 0 6px 6px 0px;
    -moz-border-radius: 0 6px 0px;
    border-radius: 0 6px 6px 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.TabContainer {
    background-color: white;
    position: relative;
    top: 100px;
    left: 30%;
    width: 700px;

}
.TabContent{

width: 1000px;

}

.menuTab {
    cursor: pointer;
    width: 220px;
    height: 85px;
    background-color: ghostwhite;
    margin-bottom: 5px;
}
.linkTab {
    width: 15px;
    height: 85px;
    background-color: greenyellow;
}
.Tab {
    position:relative;
    top:-48px;
    left:50px;
}

.post{
    /*border:solid 2px yellow;*/
    overflow: hidden;
}
.tagdiv{
    margin-top:10px;
    float:left;
}
.tagConteiner{
    /*border:solid 2px yellow;*/
    overflow: hidden;
    padding-bottom: 10px;
}
.tag{
    background-color: crimson;
    text-decoration: none;
    color:white;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 3px;
}
.postConteiner{
background-color: white;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 25%;
    width: 700px;
    padding: 20px 20px;
   /* border:solid 2px green;*/
    margin-top: 20px;
}
.close{
    float: right;
    background-color: indianred;
    padding: 3px 3px;
}

.comment{
    float:left;
margin-top: 50px;
    overflow: hidden;
   /* border:solid 2px red;*/
}
.oneComment{

}
.contentInput{
   margin-top: 40px;
   /* border:solid 2px red;*/
}