<div ng-controller="lessonController">
<nav class="navbar navbar-default" role="navigation"  ng-controller="mainMenu">
    <div class="container-fluid" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Lab </a>
        </div>
        <div class="navbar-header">
            <a style="float:left" class="navbar-brand" href="#" editable-text="courseNow.course.title" ng-show="courseNow.course.title" onbeforesave="courseNow.saveCourse()">
                {{courseNow.course.title}}
            </a>
        </div>
            <ul class="nav navbar-nav" style="margin-left: 30%" >
                <li class="dropdown" style="cursor:pointer;" >
                    <a class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-graduation-cap fa-fw"></i>Courses <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="min-width: 250px;padding: 0;" >


                        <li ng-repeat="course in courseNow.courses" class="dropdown-submenu" style="border-bottom: 1px solid #5E6A75;">
                            <a ui-sref="adminlab.lesson.module({courseTitle:course.title})" style="padding: 10px 20px;">{{course.title}}
                                <button class="btn btn-danger btn-xs" ng-click="courseNow.deleteCourse(course._id)" >del</button>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="addCourse()" style="padding: 10px 20px;">Add course</a>
                        </li>
                    </ul>
                </li>
            </ul>
    </div>
</nav>
<div ui-view style=""></div>
</div>