<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-10">

            </div>

        </div>
        <div class="row" style="margin-top: 5%">
            <div class="col-md-12">
                <form editable-form name="editableForm" onaftersave="saveCourse()">
                <ul ng-repeat="module in course.modules"><a  editable-text="module.title" >{{ module.title || "empty" }}</a>

                    <div class="btn-group btn-group-xs" ng-show="editableForm.$visible">
                        <button type="button" class="btn btn-success"  ng-click="addModule(module._id,'before')"
                                ng-disabled="disabled">before</button>
                        <button type="button" class="btn btn-success" ng-click="addModule(module._id,'after')"
                                ng-disabled="disabled">after</button>
                        <button class="btn btn-danger btn-xs" ng-click="deleteModule(module._id)" ng-show="editableForm.$visible"
                                ng-disabled="disabled">del</button>
                    </div>



                    <li style="margin-left: 10%;padding: 10px" ng-repeat="section in module.sections">
                        <a  editable-text="section.title">{{ section.title || "empty" }}</a>

                        <div class="btn-group btn-group-xs" ng-show="editableForm.$visible">
                            <button type="button" class="btn btn-success" ng-click="addSection(section.title,'before')"
                                    ng-disabled="disabled">before</button>
                            <button type="button" class="btn btn-success" ng-click="addSection(section.title,'after')"
                                    ng-disabled="disabled">after</button>
                            <button class="btn btn-danger btn-xs" ng-click="deleteSection(module._id,section._id)" ng-show="editableForm.$visible"
                                    ng-disabled="disabled">del</button>
                        </div>


                    <ul>
                        <li style="margin-left: 10%;padding: 10px" ng-repeat="unit in showUnits(section.specialId) track by $id(unit)">
                            <a  editable-text="unit.title"
                                ui-sref="adminlab.lesson.unit({moduleTitle:module.title,sectionTitle:section.title,unitTitle:unit.unitId})"
                                    ng-click="changeInit(unit._id)" ng-disabled="disabled">
                                {{ unit.title || "empty" }}
                            </a>

                            <div class="btn-group btn-group-xs" ng-show="editableForm.$visible">
                                <button type="button" class="btn btn-success" ng-click="addUnit(module._id,section.specialId,unit.unitId,'before')"
                                        ng-disabled="disabled">before</button>
                                <button type="button" class="btn btn-success" ng-click="addUnit(module._id,section.specialId,unit.unitId,'after')"
                                        ng-disabled="disabled">after</button>
                                <button class="btn btn-danger btn-xs" ng-click="deleteUnit(section.specialId,unit.unitId)" ng-show="editableForm.$visible"
                                        ng-disabled="disabled">del</button>
                            </div>



                        </li>
                    </ul>
                    </li>
                </ul>
                <hr>
                    <div class="buttons">
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"
                                ng-disabled="disabled">
                            Edit
                        </button>
                        <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting"
                ng-disabled="disabled">
            Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()"
                ng-disabled="disabled">
            Cancel
        </button>
      </span>
                    </div>
                    </form>
            </div>

        </div>
    </div>
    <div class="col-md-7 admin_content_course">
        <div ui-view style="">
        </div>

    </div>
</div>