<div  style="overflow: hidden;margin: 20px 8px;">
    <input type="text" placeholder="Search" class="form-control" style="" ng-model="textOfSearch.text">
    <button class="btn btn-default" style="width: 100%;" type="button" ng-click="textSearch()">Go!</button>
</div>

<!--<div infinite-scroll="myPagingFunction()" infinite-scroll-distance="0">-->
    <div deckgrid source="postdata"
         ng-if="postdata.length"
         cardTemplate="/views/templates/deckgrid-post.html" style="padding-right: 60px"
         class="deckgrid1" ng-if="userdata" ></div>
<!--</div>-->

