<div class="btn-group" dropdown >
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        {{courseNow.menuName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="subject in loadSubjects"><a href="" ng-click="changeCourse(subject.menuName)">{{subject.menuName}}</a></li>
        <li><hr></li>
        <li><a>Add course</a></li>
    </ul>
</div>

<div class="btn-group" dropdown >
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        {{subjectNow.subjectName}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="subject in resCourseSubject.subjects"><a href="" ng-click="changeCourse(subject.menuName)">{{subject.subjectName}}</a></li>
        <li><hr></li>
        <li><a>Add subject</a></li>
    </ul>
</div>

<div class="btn-group" dropdown >
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        {{subSubjectNow.subSubjectName}}<span class="caret"></span>

    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="subSubject in subjectNow.subSubjects"><a href="" ng-click="changeSubSubject(subject.subSubjectName)">{{subSubject.subSubjectName}}</a></li>
        <li><hr></li>
        <li><a>Add subSubject</a></li>
    </ul>
</div>


<div class="btn-group" dropdown >
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        {{moduleNow.moduleName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="module in modulesNow"><a href="" ng-click="changeModule(module.moduleName)">{{module.moduleName}}</a></li>

    </ul>
</div>

<div class="btn-group" dropdown >
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Inventory of existing steps <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="step in moduleNow.steps"><a href="" ng-click="changeStep(step.stepName)">{{step.stepName}}</a></li>
        <li><hr></li>
        <li><a>Add module</a></li>
    </ul>
</div>
<hr>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div  style="width: 400px;overflow: hidden;">
           <!-- <div class="input-group"  >
                <h3>Module parrent:</h3><input type="text" class="form-control" ng-model="moduleParrent">
            </div>-->
            <div class="input-group"  >
                <h3>Step Name:</h3><input type="text" class="form-control" ng-model="resStep.stepName" >
            </div>
            <div class="input-group"  >
                <h3>Step type:</h3><input type="text" class="form-control" ng-model="resStep.typeStep" >
            </div>
            <div class="input-group"  >
                <h3>Step Content:</h3><input type="text" class="form-control" ng-model="resStep.content" >
            </div>
            <button type="button" class="btn btn-success " ng-click="saveCourse()"
                    style="">add Step to template</button>
        </div>

    </div>
    <div class="col-md-4">


    </div>
</div>