<div class="btn-group" dropdown >
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        {{courseNow.menuName}} <span class="caret"></span>

    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="subject in loadSubjects"><a href="" ng-click="">{{subject.menuName}}</a></li>
        <li><hr></li>
        <li><a>Add course</a></li>
    </ul>
</div>

<div class="btn-group" dropdown >
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Inventory of existing subjects <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="subject in courseNow.subjects"><a href="" ng-click="changeSubject(subject.subjectName)">{{subject.subjectName}}</a></li>
        <li><hr></li>
        <li><a>Add subject</a></li>
    </ul>
</div>
 <hr>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="width: 400px;overflow: hidden;">
            <div class="input-group"  >
                <h3>Subject Name:</h3><input type="text" class="form-control" ng-model="resSubject.subjectName"  >
            </div>
            <div class="input-group"  >
                <h3>Subject Description:</h3><textarea type="text" rows="10" cols="100" class="form-control" ng-model="resSubject.description" ></textarea>
            </div>
            <button type="button" class="btn btn-success " ng-click="addSubject()"
                    style="">add Subject to template</button>
        </div>
        </div>
    <div class="col-md-4">
        <div>
            <a class="btn btn-success " ui-sref="subSubjectedition({course:courseNow.menuName,subject:resSubject.subjectName})"
               style="">go deeper</a>
        </div>

    </div>
</div>