<div style="margin: 100px 100px;" ng-if="!userdata">
    <div class="jumbotron text-center">
        <p>Login or Register with:</p>
        <a href="#/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="#/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span>Sign in with Google</a>
        <a href="/auth/twitter" class="btn btn-info" ng-if="false"><span class="fa fa-twitter"></span>Sign in with Twitter</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Sign in with Facebook</a>
    </div>

</div>



<div ng-controller="maintab" class="TabContainer" ng-show="userdata" ng-style="tabheight">
    <div style="width: 220px;float:left">
        <div class="menuTab"  ng-repeat="menu in menus" ng-mouseenter="hover(menu.color['background-color'])"
             ng-style="color(colorTab,menu.color['background-color'],changTabColor)" ng-click="showTab(menu.num)"
             ng-mouseleave="hover()">
            <div class="linkTab" ng-style="menu.color"></div>
            <div class="Tab" >
                <a ui-sref="themaTop({topic:menu.menuName})">{{menu.menuName}}
                </a></div>
        </div>
    </div>
    <div ng-repeat="menu in menus" class="TabContent" ng-style="">
        <div style="">
            <div ng-repeat="subject in menu.subjects" ng-show="activeTab(menu.num)">
                <a ui-sref="themaSubject({topic:menu.menuName,subject:subject})" ng-style="{'color':menu.color['background-color']}">Learn {{subject}}
                    <span class="glyphicon glyphicon-chevron-right"></span></a></div>

        </div>
    </div>
</div>
