<div class="a-postcard " style="margin-bottom: 15px;">
<div class="contain"   >

    <div class="header">
        <div class="btn-group close" dropdown is-open="status.isopen" ng-if="mother.ifThisIsAvtor(mother.userdata,card.creator)" style="background-color: transparent">
            <a type="button" class="dropdown-toggle" ng-disabled="disabled" style="background-color: #ffffff;color: #000000;">
                <i class="fa fa-gear" ></i>
            </a>
            <ul class="dropdown-menu" role="menu" style="min-width: 0;left:-20px; margin-top: 5px">
                <li><a ><i class="fa fa-pencil fa-fw"></i>Edit</a></li>
                <li class="divider"></li>
                <li><a ng-click="mother.deletePost(card._id)"><i class="fa fa-trash-o fa-fw"></i>Delete</a></li>
            </ul>
        </div>

        <img ng-src="{{mother.postAvatar(card.creator)}}" class="avatar">
        <p class="author ng-binding">{{mother.getCreator(card.creator)}}</p>
        <p class="date ng-binding">{{card.created}}</p>
    </div>
    <h1 class="title ng-binding">{{card.title}}</h1>
    <p class="content ng-binding">{{card.content}}</p>
    <img src="http://lorempixel.com/400/300/abstract" class="img" style="width: 100%">
    <div class="tagConteiner">
        <b style="float:left;margin-top: 4px;">Tags:</b>
        <a class="tag" ng-repeat="tag in card.tags" ng-click="mother.searchByTag(tag)" style="cursor:pointer;font-size: x-small">{{tag.text}}</a>
    </div>


    <ul class="footer">
        <li ><a href="" ng-click="mother.like(mother.userdata._id,card.likes,card._id,card)" ><i class="fa fa-plus"></i> {{card.likes.length}}</a></li>
        <li>
            <a href="" ng-click="commenting = !commenting" style="display: block;">
                <span style="float: left;margin-right: 5px;margin-left: 20%;">{{card.comments.length}}</span>
                <div ng-hide="commenting" class="" style="float: left">
                    <i class="fa fa-comments" style="margin-right: 5px"></i><i class="fa fa-caret-down"></i>
                </div>
                <div ng-show="commenting" class="ng-hide" style="float:left">
                    <i class="fa fa-comments" style="margin-right: 5px"></i><i class="fa fa-caret-up"></i>
                </div>
            </a>
        </li>
        <li><a href=""><i class="fa fa-flag"></i></a></li>
    </ul>

    <div class="comments ng-hide" ng-show="commenting" style="overflow: hidden;">
        <img ng-src="{{mother.postAvatar(mother.userdata._id)}}" class="avatar">
        <textarea class="msd-elastic" name="comment" placeholder="Comments..." rows="4" ng-model="mother.comment" ></textarea>
        <div class="btn-group" style="display: block">
            <button class="btn btn-primary" ng-click="[mother.addComment(card._id,mother.userdata._id,card),commenting = !commenting,mother.comment='']" ng-model="comment">Comment</button>
            <button class="btn btn-danger" ng-click="commenting = !commenting">Cancel</button>
        </div>
    </div>
    <div class="commentsCom" ng-repeat="comment in card.comments" style="overflow: hidden">
        <!--<span class="close" ng-click="mother.deleteComment(comment,card._id, card)" ng-if="mother.ifThisIsAvtor(mother.userdata,comment.creator)">X</span>-->
        <div style="width: 20%;float: left;text-align: center">
            <img ng-src="{{mother.postAvatar(comment.creator)}}" style="float:none">

            <ul class="footer1" style="padding: 0">
                <li style="margin-top: 15px"><a ng-click="mother.like(mother.userdata._id,card.likes,card._id,card)" ><i class="fa fa-plus"></i> {{card.likes.length}}</a></li>
                <li><a ><i class="fa fa-mail-forward"></i></a></li>
                <li><a ><i class="fa fa-flag"></i></a></li>
                <li><a  ng-if="mother.ifThisIsAvtor(mother.userdata,comment.creator)"><i class="fa fa-pencil"></i></a></li>
            </ul>
        </div>



        <div style="width: 80%;float: right">
            <h5 style="color:red">{{mother.getCreator(comment.creator)}}</h5>
            <p class="content" style="font-size: 10px;color: #aaa">{{comment.dataReg}}</p>
            <p class="content">{{comment.content}}</p>
        </div>
    </div>
</div>
</div>