<div style="margin: 100px 100px;" ng-if="!userdata">
    <div class="jumbotron text-center">
        <p style="color:#fff;">Login or Register with:</p>
        <a href="#/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="#/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <!--<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span>Sign in with Google</a>
        <a href="/auth/twitter" class="btn btn-info" ng-if="false"><span class="fa fa-twitter"></span>Sign in with Twitter</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Sign in with Facebook</a>-->
    </div>
</div>
<style>
    .statistic{margin: 60px 0;}
    .statistic>div{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        border-left: 1px solid #fff;
    }
    .statistic>div.col-md-3{border-bottom: 1px solid #fff;}
    .statistic>div.col-md-3:first-child,
    .statistic>div.col-md-3+.col-md-4{border-left: 0;}
    .statistic>div:hover{background-color: #fff;}
    .statistic>div h3{
        margin-bottom: 25px;
        color: #fff;
    }
    .statistic>div p{color: #999;}
    .statistic>div:hover h3{color: #000;}
</style>

<h3>Welcome <span style="color:#1EDAFB">{{userdata.username}}</span> ! It's your dashborad</h3>
<div class="row statistic" ng-if="userdata">
    <div class="col-md-3">
        <h3>{{userdata.userlevel}}</h3>
        <p>some statistic</p>
    </div>
    <div class="col-md-3">
        <h3>{{countBadges}}</h3>
        <p>Badges</p>
    </div>
    <div class="col-md-3">
        <h3>{{userdata.userlevel}}</h3>
        <p>some statistic</p>
    </div>
    <div class="col-md-3" ng-controller="posts">
        <h3>{{countUserPost(userdata._id)}}</h3>
        <p>Posts</p>
    </div>
    <div class="col-md-4">
        <h3>{{userdata.dataReg}}</h3>
        <p>Date registration</p>
    </div>
    <div class="col-md-4">
        <h3>{{pointsCalculate(userdata.progress)}}</h3>
        <p>Points</p>
    </div>
    <div class="col-md-4">
        <h3>{{userdata.userlevel}}</h3>
        <p>some statistic</p>
    </div>
</div>


            <!--<div ng-repeat="badge in listOfBadges" ng-style="eqvalBadges(badge.badgeId)" >
            <img ng-src="{{badge.img}}" />
            </div>-->
<div deckgrid source="listOfBadges" cardTemplate="views/templates/deckgrid-card.html" class="deckgrid" ng-if="userdata" ></div>
