<div class="content_container module_complete_cont ng-scope">

    <div class="top">
        <h1>Module complete</h1>
        <div class="chart" style="margin: 75px">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ng-style="progress">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="left">
        <div class="mod_complete">
            <h2><b class="ng-binding">{{moduleNowChanged.title}}</b></h2>
            <ul>
                <li ng-repeat="section in moduleNowChanged.sections" class="ng-scope">
                <h4 class="ng-binding"><i class="fa fa-check"></i>{{section.title}}</h4>
            </li>

            </ul>
        </div>
    </div>

    <div class="right" ng-style="background">
        <a style="cursor: pointer" ng-click="mapModule()" >
            <div class="map">
                <h1><i class="fa fa-map-marker"></i> MAP</h1>
            </div>
        </a>
    </div>
</div>