

<div class="lesson_cont ng-scope">

    <div class="top">
        <h3 class="ng-binding">{{unitNowChanged.title}}</h3>
        <a  href="" tooltip-placement="bottom" tooltip="Ask about this lesson" style="float:right;margin: 7px 30px 7px" class="btn btn-warning" ng-click="openQuestionModal()">Ask
            <i class="fa fa-question " style=""></i>
        </a>
        <p class="ng-binding">Lesson {{positionInCourse.module+"."+positionInCourse.section+"."+positionInCourse.unit}}</p>
    </div>
<div ng-if="checkType('video')" class="video ng-scope">
    <iframe id="best-vid" video-url="video_url" class="ng-isolate-scope" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="390" src="https://www.youtube.com/embed/X-qZ7kcOEa0?enablejsapi=1&amp;origin=http%3A%2F%2Fstudent.iscoding.net"></iframe>
</div>
    <div  ng-switch on="unitNowChanged.lims[0].typeLim">
        <div ng-switch-when="video" class="video">
            <div class="embed-responsive embed-responsive-16by9" id="videoConteiner">
                <div id="lessonVideoPlayer" class="embed-responsive-item">You need Flash player 8+ and JavaScript enabled to view this video.</div>
            </div>
           <!-- <button type="" class="btn btn-success btn" ng-if="markOfCompleteUnit(unitNowChanged.unitId)==='complete'"
                    ng-click="nextUnit(unitNowChanged)" style="margin-top: 10px" >Next unit</button>-->
        </div>
        <div ng-switch-when="quiz">
            <div style="" >
                <h3 style="color:white">{{ unitNowChanged.lims[0].content[0].description}}</h3>
                <div ng-repeat="quiz in unitNowChanged.lims[0].content[0].quiz" style="margin-left: 30px;margin-top: 15px;margin-bottom: 15px">
                    <input type="checkbox" ng-model="quiz.answer" ng-change="quizCheck()" style="float: left;width: 20px; height: 20px;margin-right: 10px;">
                    <div>
                        <p style="color:white">{{ quiz.title || 'empty quiz' }}</p>
                    </div>
                </div>
                <button type="" class="btn btn-success btn"
                        ng-click="checkQuiz()" style="margin-top: 10px"
                        ng-if="markOfCompleteUnit(unitNowChanged.unitId)!=='complete'">check answer</button>
                <!--<button type="" class="btn btn-success btn" ng-if="markOfCompleteUnit(unitNowChanged.unitId)==='complete'"
                        ng-click="nextUnit(unitNowChanged)" style="margin-top: 10px" >Next unit</button>-->
            </div>
            <hr>
        </div>
        <div ng-switch-when="static">
            <div ng-bind-html="trustHtml(unitNowChanged.lims[0].content[0])" style="color:white"></div>
           <!-- <button type="" class="btn btn-success btn" ng-if="unitNowChanged.lims[0].typeLim==='static'"
                    ng-click="nextUnit(unitNowChanged)" style="margin-top: 10px" >Next unit</button>-->
        </div>
        <div ng-switch-when="code quest">
            <div class="holder">
                <div class="row center">
                    <ul class="breadcrumbs">
                        <li ng-class="{'active': lesson.isActive, 'current':lesson.isCurrent}"
                            ng-repeat="lesson in unitNowChanged.lims[0].content[0].levels"><span></span>
                            <a href="">{{lesson.id}}</a>
                        </li>
                    </ul>
                    <h2 class="b_title" >Level {{lessonId}}</h2>
                </div>
                <div class="console_cont col-xs-6">
                    <div class="outline">
                        <div class="console" scroll-glue>
                            <div class="msg">
                                <p class="{{message.class}}"
                                   ng-repeat="message in messages"
                                   ng-bind="message.text">
                                </p>
                            </div>
                        </div>
                        <input type="text" ng-model="console" value=""/>
                    </div>
                </div>
                <div class="tabbable col-xs-6"  >
                    <a href="#" class="btn_red">Answer</a>
                    <tabset>
                        <tab heading="Code">
                            <div style="position:relative;">
                                <div ui-ace="aceOption" ng-model="lesson.code"></div>
                            </div>
                        </tab>
                        <tab heading="Preview" >
                            <div class="b_wrap_text" id="preview" ng-bind-html="loadEx(lesson.code)"></div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <i class="fa fa-question fa-fw"></i>Help
                            </tab-heading>
                            <div class="b_wrap_text">
                                <p ng-repeat="less in lesson.tests" ng-bind-html="less.help"></p>
                            </div>
                        </tab>
                    </tabset>
                    <button type="button" ng-click="check()" ng-init="n=-1" class="btn_red diff" >{{btnText}}</button>
                </div>
            </div>
        </div>
    </div>
    <div  class="nextLesson_Button ng-scope" ng-if="markOfCompleteUnit(unitNowChanged.unitId)==='curentactive'">
    <a  style="cursor: pointer" style="z-index: 9999">
        <div class="nextButton" ng-click="unitNext(unitNowChanged)" >Next</div>
        <!--<div class="nextButton" ng-click="unitNext(unitNowChanged)" ng-if="nextFinish(sectionNowChanged.specialId)">Finish</div>-->
    </a>
</div>
</div>

<div id="blockquestion"  style="color: #000000" ng-if="showQuestionBlock" ng-controller="posts" >
    <span class="close" ng-click="showBlockQuestion(false)" style="margin-top: -20px;margin-right: -20px">X</span>
    <form style="min-width: 300px" >
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="title" ng-click="showTemplatePost()">
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" ng-model="content" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label>tags</label>
            <tags-input ng-model="tags">

            </tags-input>
            <!--<input type="textarea" class="form-control" ng-model="tags">-->
        </div>
        <button type="" class="btn btn-success btn-lg" ng-click="[saveNewQuestion(userdata._id,unitNowChanged.unitId),showBlockQuestion(false),content='',title='',tags='']">add new question</button>
    </form>
</div>


